<ion-header>
  <ion-toolbar>
    <ion-title>
      MapsTest
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab
    vertical="top"
    horizontal="end"
    slot="fixed"
    (click)="changePosition()"
  >
    <ion-fab-button>
      <ion-icon name="locate"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div id="map" style="height:100%;">
    <ion-fab
      *ngIf="pinLocation"
      vertical="bottom"
      horizontal="center"
      slot="fixed"
      (click)="openPosition()"
    >
      <ion-fab-button>
        <ion-icon name="pin"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
</ion-content>
